<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="url" value="mongodb+srv://sgu_cma:SuaxmvhjrPM5yCGU@clusterp2h.ijpit.mongodb.net/Cafe_Management_Application?retryWrites=true&amp;w=majority"/>
  </appSettings>
</configuration>